body {
    font-family: 'VT323', fixed;
    font-size: 12pt;
}
h1 a {
    text-decoration: none;
    color: inherit;
}
.questions {
    margin:0px;padding:0px;
    border:0px solid #000000;
}
.questions td{
    vertical-align:top;
    text-align:left;
    padding:1px;
    color:#000000;
}
.questions td.round{
    text-align: right;
}
.questions td.number {
    text-align: center;
}
.questions td.clue,td.category {
    position: relative;
}
.questions td.clue:hover {
    background-color: #afafaf;
}
.questions td.rstyle1 {
    background-color: #dfdfdf;
}
.questions td.rstyle0 {
    background-color: #cacaca;
}
div.answer {
    background-color: yellow;
    max-width: 300px;
    display: none;
    position: absolute;
    top: +90%;
    right: +10%;
    padding: 10px;
    z-index: 2;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 10px 10px 5px #888888;
}
.questions td.clue:hover div.answer {
    display: block;
}
.questions ul,ol {
    margin: 0px;
}
td.result1 {
    color: #00ff00;
}
td.result0 {
    color: #ff0000;
}
h1 {
    font-size: 64px;
}
div#intro img {
    float: right;
    clear: left;
}
div.game_list {
    font-size: 24px;
    min-height: 100%;
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    max-width: 100%;
    min-width: 100%;
}
.venue_address {
    font-size: 16px;
}
.team_name,.team_score {
    font-weight: bold;
}
